# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Size analysis files
apk-code-size-analysis_*.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

// Workflow related
.github/scripts/discord_map.json